<%- include("partials/header.ejs") -%>
<div class="search-panel mx-auto mb-5">
	<form id="search-form">
		<div class="input-group">
			<div class="date"><%= date %></div>
			<input
				id="search-input"
				class="search-input form-control shadow-none"
				type="text"
				name="searchWord"
				value="<%= searchWord %>"
				autocomplete="off"
				placeholder="Search major shopping malls, attractions and hotels"
			/>
			<button type="submit" class="search-btn btn btn-primary shadow-none">
				Search <i class="bi bi-search ms-1"></i>
			</button>
		</div>
	</form>
	<div id="carpark-names" hidden="true">
		<p id="0" class="carpark-name" hidden="true"></p>
		<p id="1" class="carpark-name" hidden="true"></p>
		<p id="2" class="carpark-name" hidden="true"></p>
		<p id="3" class="carpark-name" hidden="true"></p>
		<p id="4" class="carpark-name" hidden="true"></p>
	</div>
</div>
<%- include("partials/searchResult.ejs") -%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	document.getElementById("search-form") /
		addEventListener("submit", (e) => {
			document
				.getElementById("search-google-btn")
				.classList.remove("btn", "btn-info", "shadow-none");
			document.getElementById("search-google-btn").innerHTML = "&nbsp";
			document
				.getElementById("search-google-btn")
				.classList.add("td-loading", "shine");
			document.getElementById("map-result").classList.remove("map-result");
			document
				.getElementById("map-result")
				.classList.add("map-result-loading", "shine");
			for (let element of document.getElementsByClassName("td-label")) {
				element.innerHTML = '<div class="td-loading shine"></div>';
			}
			for (let element of document.getElementsByClassName("td-value")) {
				element.innerHTML = '<div class="td-loading shine"></div>';
			}

			document.getElementById("map-result").classList.remove("map-result");
			document
				.getElementById("map-result")
				.classList.add("map-result-loading", "shine");
			document.getElementById("map-img").src = "";

			const searchWord = document.getElementById("search-input").value;
			axios.post("/api/getRates", { searchWord: searchWord }).then(
				(response) => {
					const rate = response.data;
					axios.post("/api/getMap", { carpark: rate.carpark }).then(
						(response) => {
							document
								.getElementById("map-result")
								.classList.remove("map-result-loading", "shine");
							document.getElementById("map-result").classList.add("map-result");
							document.getElementById("map-img").src =
								"data:image/png;base64," + response.data;
						},
						(error) => console.log(error)
					);

					for (let i = 0; i < 4; i++) {
						document.getElementsByClassName("td-label")[i].innerHTML = [
							"Carpark",
							"Weekday Rates",
							"Saturday Rates",
							"Sunday/PH rates",
						][i];
					}
					for (let i = 0; i < 5; i++) {
						document.getElementsByClassName("td-value")[i].innerHTML = [
							rate.carpark,
							rate.weekdays_rate_1,
							rate.weekdays_rate_2,
							rate.saturday_rate,
							rate.sunday_publicholiday_rate,
						][i];
					}
					document
						.getElementById("search-google-btn")
						.classList.remove("td-loading", "shine");
					document
						.getElementById("search-google-btn")
						.classList.add("btn", "btn-info", "shadow-none");
					document.getElementById("search-google-btn").innerHTML =
						'View on Google Maps <i class="bi bi-box-arrow-up-right ms-1"></i>';
					document.getElementById("search-google-btn").href =
						"https://maps.google.com/?q=" + rate.carpark;
				},
				(error) => console.log(error)
			);
			e.preventDefault();
		});

	document.getElementById("search-input").addEventListener("input", (e) => {
		document.getElementById("carpark-names").hidden = false;
		const searchData = [];
		("<% carparkNames.forEach((carpark) => { %>");
		if ("<%= carpark %>".toLowerCase().includes(e.target.value.toLowerCase()))
			searchData.push("<%= carpark %>");
		("<% }); %>");
		[0, 1, 2, 3, 4].forEach((index) => {
			if (searchData[index] != undefined) {
				document.getElementById(index.toString()).hidden = false;
				document.getElementById(index.toString()).innerHTML = searchData[index];
			} else document.getElementById(index.toString()).hidden = true;
		});
	});

	document.getElementById("search-input").addEventListener("focus", () => {
		document.getElementById("carpark-names").hidden = false;
	});

	document.addEventListener("click", (e) => {
		if (e.target.id === "search-input")
			document.getElementById("carpark-names").hidden = false;
		else document.getElementById("carpark-names").hidden = true;
	});

	document.getElementById("carpark-names").addEventListener("click", (e) => {
		const searchWord = document.getElementById(e.target.id).innerHTML;
		document.getElementById("search-input").value = searchWord;
	});

	["0", "1", "2", "3", "4"].forEach((index) => {
		document.getElementById(index).addEventListener("mouseover", () => {
			document.getElementById(index).style.backgroundColor = "whitesmoke";
		});
		document.getElementById(index).addEventListener("mouseout", () => {
			document.getElementById(index).style.backgroundColor = "white";
		});
	});
</script>
<%- include("partials/footer.ejs") -%>
