<%- include("partials/header.ejs") -%>
<div class="search-panel mx-auto mb-5">
	<form action="/search" method="post">
		<div class="input-group">
			<span class="date"><%= date %></span>
			<input
				class="search-input form-control shadow-none"
				type="text"
				name="searchWord"
				value="<%= searchWord %>"
				list="carpark-names"
				autocomplete="off"
				placeholder="Search major shopping malls, attractions and hotels"
			/>
			<datalist id="carpark-names" name="carpark-names">
				<% carparkNames.forEach((carpark) => { %>
				<option><%= carpark %></option>
				<% }) %>
			</datalist>
			<button type="submit" class="search-btn btn btn-primary shadow-none">
				Search <i class="bi bi-search ms-1"></i>
			</button>
		</div>
	</form>
</div>
<%- include("partials/searchResult.ejs") -%> <%- include("partials/footer.ejs")
-%>
