<%- include("partials/header.ejs") -%> <% for (let record of records) { %>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td>Carpark:</td>
			<td><%= record.carpark %></td>
		</tr>
		<tr>
			<td rowspan="2">Weekday rates:</td>
			<td><%= record.weekdays_rate_1 %></td>
		</tr>
		<tr>
			<td><%= record.weekdays_rate_2 %></td>
		</tr>
		<tr>
			<td>Saturday rates:</td>
			<td><%= record.saturday_rate %></td>
		</tr>
		<tr>
			<td>Sunday/PH rates:</td>
			<td><%= record.sunday_publicholiday_rate %></td>
		</tr>
	</tbody>
</table>
<% } %> <%- include("partials/footer.ejs") -%>
