<%- include("partials/header.ejs") -%> <% for (let record of records) { %>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="td-label">Carpark:</td>
			<td class="td-value"><%= record.carpark %></td>
		</tr>
		<tr>
			<td class="td-label" rowspan="2">Weekday rates:</td>
			<td class="td-value"><%= record.weekdays_rate_1 %></td>
		</tr>
		<tr>
			<td class="td-value"><%= record.weekdays_rate_2 %></td>
		</tr>
		<tr>
			<td class="td-label">Saturday rates:</td>
			<td class="td-value"><%= record.saturday_rate %></td>
		</tr>
		<tr>
			<td class="td-label">Sunday/PH rates:</td>
			<td class="td-value"><%= record.sunday_publicholiday_rate %></td>
		</tr>
	</tbody>
</table>
<% } %> <%- include("partials/footer.ejs") -%>
